<%- include('header')-%>
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 fs-4 text-white">Homepage</a>
        <a class="btn text-white btn-outline-danger me-5" type="submit" href="/logout">LOG OUT</a>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="card bg-transparent text-white text-center">
      <div class="card-body mt-5">
        <h2 class="card-title">Welcome! </h2>
        <h3 class="card-text">You are in the homepage</h3>
      </div>
    </div>
  </div>
  
</body>
</html>